body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #ffffff;
  color: #333;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 10px 40px;
  background: #eedd7c;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav li {
  position: relative;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
  font-weight: 500;
  transition: background 0.3s;
}

nav li:hover > a {
  background: #f3ef01;
  box-shadow: 0 0 10px rgba(112, 112, 111, 0.6);
  border-radius: 15px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  display: none;
  min-width: 240px;
  z-index: 10;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu li {
  padding: 8px 20px;
}

.dropdown-menu a {
  color: #333;
  font-size: 14px;
  padding: 5px 0;
}

.dropdown-menu a:hover {
  background: #f0f0f0;
}
